.landing-background{
  background: url('images/UHber-landing.jpg') no-repeat center center fixed;
  background-size: cover;
}

.signUpBackground{
  background: url('images/signUpBackground.png') no-repeat center center fixed;
  background-size: cover;
}

.forgot-text {
  display: table;
  position: absolute;
  width: 90%;
  height: 100%;
  text-align: center;
}

.forgot-text span {
  display: table-cell;
}

.submit-button {
  text-align: center;
}

